.names {
    width: 20rem;
    padding: 2rem;
    cursor: ns-resize;
}

.names [role="listitem"] {
    background-color: white;
}

.names[readonly] {
    cursor: not-allowed;
}

.names .badge {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 5px;
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    margin-right: 5px;
}
